.sendSubmissionBtn {
  background-color: #1A4049;
  font-size: 10px;
  font-weight: bold;
}
.sendSubmissionBtnContainer {
  margin-top: 20px;
}
.newSubmissionCard {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}
.newSubmissionHeading {
 font-size: 20px;
 font-weight: bold;
}
.newSubmissionSubText {
  font-size: 11px;
}
