.headerRow {
  font-size: 12px;
  padding: 5px;
  background-color: #E0EEF1;
  color: #525252;
  &:first-child {
    border-start-start-radius: 10px;
  }
  &:last-child {
    border-start-end-radius: 10px;
  }
}
.itemContainer {
  border: 0.5px solid #D6D6D6;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}
.itemRow {
  border-bottom: 0.5px solid #D6D6D6;
  &:last-child {
   border-bottom: none;
  }
}
.itemColumn {
  border-right: 0.5px solid #D6D6D6;
  &:last-child {
   border-right: none;
  }
}
.resultRow {
  font-size: 12px;
}
