.threadIcon {
  margin-right: 10px;
}
.threadTypeTitle {
  font-size: 12px;
}
.activityThreadOptions {
  font-size: 9px;
}
.threadComment {
  margin-top: 15px;
  max-width: 680px;
}
.activityThreadContainer {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  margin-top: 15px;
}
.hide {
  display: none;
}
