.contentContainer {
  background-color: white;
  width: 100%;
  border-start-end-radius: 10px;
  border-end-end-radius: 10px;
  padding: 10px 20px 10px 0;
}
.typeText, .draggingIconEnd {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  font-size: 9px;
  white-space: nowrap;
  font-weight: bold;
  text-transform: uppercase;
}
.dndContainer {
  max-width: 10px;
  align-items: center;
  background: #6B9DAD;
  padding: 4px;
  border-start-start-radius: 10px;
  border-end-start-radius: 10px;
  color: white;
}
.columnHeaderContainer {
  margin-bottom: 5px;
}
.columnDataContainer {
  margin-top: 5px;
  margin-bottom: 10px;
}
.columnHeader {
  font-size: 9px;
  font-weight: 100;
}
.columnData {
  font-size: 10px;
  font-weight: bold;
}
.notesLabel {
  font-size: 8px;
  margin-right: 10px;
}
.notesInput {
  border-radius: 15px;
  font-size: 9px;
}
.expendDataHeading {
  font-size: 12px;
  font-weight: bold;
}
.expandDataValues {
  font-size: 10px;
  line-height: 20px;
}
