@import './Scrollbars.scss';

.cardContainer {
  & > div {
    padding: 16px 20px !important;
    min-height: 272px;
  }
}
.tableContainer {
  margin-top: 23px;
}
.red {
  background-color: #FD3737;
  color: #FFF;
}
.white {
  background-color: #FFF;
  color: #FD3737;
}
.actionsHighlight {
  background-color: #3B6370;
  color: #FFF;
}
.approvalHover {
  &:hover {
    background-color: #52B172;
    color: #FFF;
    & path {
      fill: #FFF;
    }
  }
}
.contractsHover {
  &:hover {
    background-color: #000;
    color: #FFF;
    & path {
      fill: #FFF;
    }
  }
}

