
.qulificationBtn {
  background-color: #52B172;
  font-size: 10px;
  font-weight: bold;
}
.qualificationCard {
  background-color: #3B6370;
  border-radius: 15px;
  padding: 20px;
  margin-left: 15px;
}
.heading3 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}
.qualificationList {
  font-size: 10px;
  color: white;
  line-height: 22px;
}
.tooltipContainer {
  padding: 10px;
}
