.heading {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}
.fullWidth {
  width: 100%;
}
.sendRequestBtn {
  margin-top: 4px;
  background-color: #1677ff;
  font-size: 12px;
  font-weight: bold;
  &:hover {
    background-color: #0a49a2 !important;
  }
}
.folderTitle {
 font-size: 11px;
 font-weight: bold;
 color: #17A1FA;
}
.forwardtext {
  font-size: 11px;
  color: #000;
  margin: 0 5px;
}
.dealNumber {
  font-size: 11px;
  color: #000;
}
.sorting {
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
  padding: 2px 9px;
  background: #ebebeb;
  border: 1px solid #b3b3b3;
  border-radius: 8px;
}
.documentList {
  margin-top: 5px;
}
.documentItem {
  margin-top: 15px;
  cursor: pointer;
}
.tickBox {
  margin-right: 10px;
}
.fileIcon {
  margin-right: 10px;
}
.docName {
  font-size: 12px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: 'pointer';
}
.breadcrumbRow {
  margin-top: 10px;
}
.fileSize {
  font-size: 11px;
  margin: 0 10px;
  color: #6f7274;
  font-weight: bold;
}
