
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.ant-card {
  border-radius: 18px;
}
.ant-upload-wrapper {
  width: 100%;
}
.lead-modal {
  & .ant-tabs {
    & .ant-tabs-tab {
      font-size: 12px !important;
      padding: 1px 0 !important;
    }
    & .ant-tabs-tab-btn {
      color: #000 !important;
    }
    & .ant-tabs-ink-bar{
      background: #52B172;
      padding: 2px 0px !important;
    }
  }
}
.manager-funnel {
  & .ant-tabs {
    & .ant-tabs-tab-btn {
      color: white !important;
    }
    & .ant-tabs-ink-bar{
      background: #ffffff;
      padding: 2px 0px !important;
    }
  }
}
.goal-progress-bar {
  &.ant-progress {
    & .ant-progress-text {
      display: inline !important;
    }
    & .ant-progress-outer {
      padding-inline-end: 0 !important;
    }
    & .ant-progress-success-bg {
      border-radius: 0;
    }
  }
}
.leadModal {
  & .ant-modal-content {
    padding: 16px;
    min-height: 500px;
  }
}
.selectField {
  width: 100%;
  & .ant-select-selector {
    border-radius: 20px;
    font-size: 12px;
  }
}
.funnelFilterField {
  & .ant-select-selector {
    border-radius: 0px;
    font-size: 14px;
    background-color: transparent !important;
    color: white;
  }
  & .ant-select-arrow, .ant-picker-suffix, .ant-picker-separator, .ant-picker-input-placeholder > input, .ant-select-selection-placeholder  {
    color: white;
  }
  & .ant-select-clear {
    color: white;
    &:hover {
      color: white;
    }
  }
  &.ant-select-open {
    & .ant-select-selection-item, .ant-select-clear {
      color: white;
    }
  }

}
.stageDropdown {
  & .ant-select-selector {
    border-radius: 20px;
    background: #52B172 !important;
  }
  & .ant-select-arrow {
    & path {
      fill: white;
    }
  }
  & .ant-select-selection-item {
    font-size: 12px;
    color: white;
    font-weight: bold;
  }
}
.statusDropDown {
  height: 20px;
  min-width: 150px;
  & .ant-select-selector {
    border-radius: 20px;
    border: none !important;
  }
  & .ant-select-arrow {
    & path {
      fill: white;
    }
  }
  & .ant-select-selection-item {
    font-size: 10px;
    font-weight: 300;
    color: white;
  }
  &.submitted {
    & .ant-select-selector {
      background: #92E4FF !important;
    }
    & .ant-select-selection-item {
      color: #000;
    }
    & .ant-select-arrow {
      & path {
        fill: #000;
      }
    }
  }
  &.recieved {
    & .ant-select-selector {
      background: #FFC530 !important;
    }
    & .ant-select-selection-item {
      color: #000;
    }
    & .ant-select-arrow {
      & path {
        fill: #000;
      }
    }
  }
  &.Submitted {
    & .ant-select-selector {
      background: #92E4FF !important;
    }
  }
  &.Response_Received {
    & .ant-select-selector {
      background: #FFC530 !important;
    }
  }
  &.Selected {
    & .ant-select-selector {
      background: #52B172 !important;
    }
  }
  &.Approved {
    & .ant-select-selector {
      background: #6C3DFF !important;
    }
  }
  &.Killed_at_Funding_call {
    & .ant-select-selector {
      background: #CF6A0D !important;
    }
  }
  &.Declined {
    & .ant-select-selector {
      background: #AE1E1E !important;
    }
  }
  &.New {
    & .ant-select-selector {
      background: #B0B0B0 !important;
    }
  }
  &.Waiting_for_Admin_to_Submit {
    & .ant-select-selector {
      background: #79affd !important;
    }
  }
}
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ql-snow {
  border: none !important;
}
.ql-toolbar {
  border-bottom: 0.5px solid #D6D6D6 !important;
}
.ql-container {
  max-height: 150px;
  overflow: auto;
}
.ant-steps-item-title{
  color: black !important;
}
.ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after, .ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-tail::after {
  background-color: #1677ff !important;
}
.ant-steps.ant-steps-inline .ant-steps-item-finish .ant-steps-item-icon .ant-steps-icon .ant-steps-icon-dot {
  background-color: #1677ff;
  border: 1px solid #1677ff;
}
.ant-steps .ant-steps-item-title {
  font-size: 12px;
}
