.subTitles {
  font-size: 18px;
  line-height: 31px;
  margin-bottom: 5px;
  margin-top: 15px;
}
.inputRow {
  margin: 5px 0;
  font-size: 14px;
}
.footerSubmitCTA {
  background-color: #52B172;
  font-size: 12px;
  font-weight: bold;
}
.largeText {
  font-size: 18px;
  font-weight: bold;
}
